---
import BentoItem from "./BentiItem.astro";
---

<section
  class="w-full max-w-[1400px] p-2
    grid grid-cols-10 auto-rows-[35rem] gap-4"
>
  <BentoItem
    class="col-span-10 md:col-span-6 "
    title="ANDORRA: EL CÉNIT DE LOS PREMIOS ESLAND"
  >
    <div
      class="absolute left-0 top-0 bottom-0 h-full w-full
        group-hover:scale-110 duration-1000 ease-in-out opacity-90
        bg-center bg-cover bg-no-repeat bg-blue-950 bg-blend-luminosity -z-10"
      style="background-image: url('/mountain.webp')"
      slot="image"
    >
    </div>
    <p slot="content" class="max-w-xl pt-4">
      España, Latinoamérica y Andorra unidas por creadores, creadoras y sus
      comunidades, para recordar y revivir <strong
        >algunos de los mejores momentos del año</strong
      >.
    </p>
  </BentoItem>
  
  <BentoItem
    class="col-span-10 md:col-span-4"
    title="LA GALA"
    subtitle="17 de febrero de 2024"
  >
    <div
      class="absolute left-0 top-0 bottom-0 h-full w-full
        group-hover:scale-110 duration-1000 ease-in-out opacity-90
        bg-center bg-cover bg-no-repeat bg-blue-950 bg-blend-luminosity -z-10"
      style="background-image: url('/grefg.webp')"
      slot="image"
    >
    </div>
    <p slot="content" class="max-w-xl pt-4">
      España, Latinoamérica y Andorra unidas por creadores, creadoras y sus
      comunidades, para recordar y revivir <strong
        >algunos de los mejores momentos del año</strong
      >.
    </p>
  </BentoItem>
  <BentoItem
    class="col-span-10 md:col-span-4"
    title="LA ALFOMBRA BLANCA"
    subtitle="16 de febrero de 2024"
  >
    <div
      class="absolute left-0 top-0 bottom-0 h-full w-full
        group-hover:scale-110 duration-1000 ease-in-out opacity-90
        bg-center bg-cover bg-no-repeat bg-blue-950 bg-blend-luminosity -z-10"
      style="background-image: url('/pistas.webp')"
      slot="image"
    >
    </div>
    <p slot="content" class="max-w-xl pt-4">
      España, Latinoamérica y Andorra unidas por creadores, creadoras y sus
      comunidades, para recordar y revivir <strong
        >algunos de los mejores momentos del año</strong
      >.
    </p>
  </BentoItem>
  <BentoItem
    class="col-span-10 md:col-span-6"
    title="DISFRUTA DEL REDDIT DE LA COMUNIDAD"
  >
    <div
      class="absolute left-0 top-0 bottom-0 h-full w-full
        group-hover:scale-110 duration-1000 ease-in-out opacity-90
        bg-center bg-cover bg-no-repeat bg-blue-950 bg-blend-luminosity -z-10"
      style="background-image: url('/laptop.webp')"
      slot="image"
    >
    </div>
    <p slot="content" class="max-w-xl pt-4">
      España, Latinoamérica y Andorra unidas por creadores, creadoras y sus
      comunidades, para recordar y revivir <strong
        >algunos de los mejores momentos del año</strong
      >.
    </p>
  </BentoItem>
</section>
