---
import Layout from '../layouts/Layout.astro';
import Video from '../components/Video.astro';
import Intro from '../components/Intro.astro';
import Bento from '../components/bentoGrid/Bento.astro';
import PreFooter from '../components/PreFooter.astro';
import Footer from '../components/Footer.astro';
---

<Layout 
  title='PREMIOS ESLAND'
  description='Pagina de Prueba Premios ESLAND'
>
  <Video />
	<main class="flex flex-col justify-center items-center" >
		<Intro />
		<Bento />
    <PreFooter />
	</main>
  <Footer />
</Layout>

<style>

</style>
