---
import Logo from "./Logo.astro";

---

<header 
  id="header-nav" 
  class="fixed top-0 w-full px-6 py-4 z-50 "
>
  <div class="max-w-7xl mx-auto flex items-center justify-between gap-16">
    <a href='/'>
     <Logo class="w-7"/>
    </a>
    <nav
      id="header-menu"
      class=""
    >
    <ul class="flex gap-5">
      <li>
        <a href='/info' class="hover:upperline">INFO</a>
      </li>
      <li><a href='/info' class="hover:upperline"></a>
        <a href="/archivo">ARCHIVO</a>
      </li>
    </ul>
      
    </nav>
    <button>IDIOMA: </button>
  </div>
</header>