---
import Logo from "./Logo.astro";
---

<header id="header-nav" class="fixed top-0 w-full px-6 py-4 z-50 bg-black/30">
  <div class="max-w-7xl mx-auto flex items-center justify-between gap-16">
    <Logo class="w-10"/>
    <nav
      id="header-menu"
      class=""
    >
      <a href="#">aaa</a>
    </nav>
  </div>
</header>