<section class="w-full p-20 max-w-[1400px] mx-auto ">
  <h1 class="uppercase text-center from-semibold mb-10 text-balance mx-auto text-4xl tracking-wide">
    Guía de la 3ª Edición de los premios ESLAND
  </h1>
  <lite-youtube 
    videoid="nYPVr2IYTtk"
    videotitle="Guía de la 3ª Edición de los premios ESLAND"
    class="rounded-xl shadow-2xl shadow-white/10"

  >
  </lite-youtube>
</section>

<script>
  import '@justinribeiro/lite-youtube';
</script>