<div class="w-full relative">
  <img 
    class=" absolute z-10 top-10 left-0 right-10 m-auto w-[800px] animate-fade animate-once animate-duration-[3000ms]"
    src="/logo-home.svg"
    alt="ESLAND"
  />
  <video 
    class="w-full h-screen object-cover object-top animate-fade animate-once animate-duration-1000" 
    src="/video.mp4" 
    autoplay 
    loop 
    muted 
    style="clip-path: polygon(100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);"

  />
  <video 
    class="absolute blur-3xl w-full -bottom-48 -z-40 animate-fade animate-once animate-duration-1000" 
    src="/video.mp4" 
    autoplay 
    loop 
    muted 
  />
</div>